* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-size: 16px;
}

.inner {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.main-content {
  padding-top: 60px;
  padding-bottom: 150px;
}

.main-text {
  font-size: 35px;
  margin-bottom: 70px;
}

.main-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-error {
  margin-bottom: 30px;
  color: red;
  font-size: 13px;
  text-align: center;
}

.main-input {
  width: 100%;
  height: 30px;
  padding: 2px 5px;
  margin-bottom: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
}

.t_center {
  text-align: center;
}

.button {
  width: 100%;
  height: 40px; 
  margin-bottom: 40px;
  
  color: #fff;
  font-size: 16px;
  background-color: #00bf60;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  &.--sm {
    max-width: 150px;
  }
}

.loading {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.succes-text {
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
  color: #00bf60;
}

.t_r {
  text-align: right;
}