.chat {
  max-width: 100%;
  display: flex;
  min-height: 500px;
  border: 1px solid #ddd;
}

.users-list-wrap {
  flex: 1 0 auto;
  max-width: 250px;
  min-width: 250px;
  border-right: 1px solid #ddd;
  background-color: #f5fbff;
}

.chat-header {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.chat__right {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}