.chat-controlls {
  width: 100%;
  min-height: 100px;
  // background-color: chocolate;
  padding: 10px;
}

.chat-controlls__top {
  display: flex;
  margin-bottom: 10px;
}

.chat-controlls__textarea {
  width: 100%;
  min-height: 90px;
  padding: 7px;

  resize: vertical;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.chat-controlls__send {
  align-self: flex-start;
  padding: 3px 5px;
  color: #fff;
  // font-weight: bold;
  font-size: 15px;
  background-color: #00bf60;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  &[disabled] {
    background-color: #aaa;
    cursor: default;

    &:hover {
      opacity: 1;
    }
  }
}