.message-wrap {
  width: 100%;
}

.message {
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.message__user {
  margin-right: 30px;
  color: #00bf60;
  font-weight: bold;
}

.message__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px solid #e8e7f7;
  padding-bottom: 4px;
}

.message__time {
  font-size: 14px;
}

.message__date {
  color: #aaa;
  font-size: 12px;
}

.message__text {
  font-size: 15px;
}