.header {
  display: flex;
  background-color: #eee;
  min-height: 60px;

  .inner {
    flex: 1;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  color: #111;
}

.nav-link {
  color: #516fff;
  margin-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:visited {
    color: #516fff;
  }

  &._active {
    color: #111;
    text-decoration: underline;
  }
}

.user-login {
  color: #00bf60;
  font-size: 20px;
  margin-left: 40px;
}