.users-list {
  list-style: none;
  width: 100%;
  // max-width: 250px;
  
}

.users-list__item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px 5px;

  &:first-child {
    border-top: 1px solid #eee;
  }
}